/* /Hero/hero.module.css */
.heroSection {
  width: 100%;
  background-color: white;
  color: black;
  padding: 2rem 1rem;
}

.container {
  max-width: 72rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;  /* Changed from column-reverse to column */
  gap: 2rem;
  padding: 1rem;
}

.heroContent {
  width: 100%;
}

.heroContent h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.heroContent h2 {
  font-size: 1rem;
  color: #4B5563;
  margin-top: 1.3rem;
  margin-bottom: 0.8rem;
  text-align: center;
}

.heroContent p {
  color: #4B5563;
  margin-bottom: 1.5rem;
  text-align: center;
  padding: 1.5 1rem;
}

.downloadBtn {
  background-color: black;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  text-decoration: none;
}

.heroImage {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  margin-left: 60px;
}

.heroImage img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}



@media (min-width: 600px) {
  .heroSection {
    padding: 6rem 1rem;
  }

  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
  }

  .heroContent {
    max-width: 36rem;
    order: 1; /* Ensures content comes first on desktop */
  }

  .heroContent h1 {
    font-size: 3rem;
    text-align: left;
  }

  .heroContent h2 {
    font-size: 1.5rem;
    text-align: left;
  }

  .heroContent p {
    text-align: justify;
    padding: 0;
    padding-right: 2.5rem;
  }

  .downloadBtn {
    margin: 0;
  }

  .heroImage {
    max-width: none;
    flex: 1;
    order: 2; /* Ensures image comes second on desktop */
    }
}

